.detailshead{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.details-banner {
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('https://i.ibb.co/5KsL3bj/details.webp');
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}